<?xml version="1.0"?>
<!--
  Дополнительные сведения по настройке приложения ASP.NET см. по адресу:
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation targetFramework="4.5.2" optimizeCompilations="true" />
    <httpRuntime targetFramework="4.5.2"/>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
  <connectionStrings>
    <add name="postgreSQL" connectionString="Host=127.0.0.1;Username=postgres;Password=123;Database=clinic_db"/>
  </connectionStrings>
  <appSettings>
    <add key="HomeDir" value="C:\Temp\Data\"/>
    <add key="PDFtemplatesDir" value="PDFtemplates\"/>
    <add key="PatientsTalonsDir" value="Patients\"/>
    <add key="CuponsDir" value="\coupons\"/>
  </appSettings>
</configuration>