<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <system.serviceModel>
    <client>
      <endpoint address="http://localhost:64772/ImageService.asmx"
          binding="basicHttpBinding" bindingConfiguration="ImageServiceSoap"
          contract="ImageServiceSoap.ImageServiceSoap" name="ImageServiceSoap"
          xdt:Locator="Match(name)" xdt:Transform="Replace"/>
      <endpoint address="http://localhost:56426/PatientService.asmx"
          binding="basicHttpBinding" bindingConfiguration="PatientServiceSoap"
          contract="PatientServiceSoap.PatientServiceSoap" name="PatientServiceSoap"
          xdt:Locator="Match(name)" xdt:Transform="Replace"/>
    </client>
  </system.serviceModel>
  
  <connectionStrings>
    <add name="postgreSQL" connectionString="Host=127.0.0.1;Username=postgres;Password=123;Database=clinic_db"
         xdt:Locator="Match(name)" xdt:Transform="Insert"/>
  </connectionStrings>
</configuration>