<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ClinicProject.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
  
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ImageServiceSoap" maxReceivedMessageSize="1000000000" />
                <binding name="PatientServiceSoap" maxReceivedMessageSize="1000000000" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:64772/ImageService.asmx"
                binding="basicHttpBinding" bindingConfiguration="ImageServiceSoap"
                contract="ImageServiceSoap.ImageServiceSoap" name="ImageServiceSoap" />
            <endpoint address="http://localhost:56426/PatientService.asmx"
                binding="basicHttpBinding" bindingConfiguration="PatientServiceSoap"
                contract="PatientServiceSoap.PatientServiceSoap" name="PatientServiceSoap" />
        </client>
    </system.serviceModel>

  <connectionStrings></connectionStrings>
</configuration>