<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <system.serviceModel>
    <client>
      <endpoint address="http://192.168.1.78/mono/ImageService.asmx"
          binding="basicHttpBinding" bindingConfiguration="ImageServiceSoap"
          contract="ImageServiceSoap.ImageServiceSoap" name="ImageServiceSoap"
          xdt:Locator="Match(name)" xdt:Transform="Replace"/>
      <endpoint address="http://192.168.1.78/mono/PatientService.asmx"
          binding="basicHttpBinding" bindingConfiguration="PatientServiceSoap"
          contract="PatientServiceSoap.PatientServiceSoap" name="PatientServiceSoap"
          xdt:Locator="Match(name)" xdt:Transform="Replace"/>
    </client>
  </system.serviceModel>
  
  <connectionStrings>
    <add name="postgreSQL" connectionString="Host=192.168.1.78;Username=user2;Password=12345;Database=clinic_db"
         xdt:Locator="Match(name)" xdt:Transform="Insert"/>
  </connectionStrings>
</configuration>