<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Clinic.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ImageServiceSoap" maxReceivedMessageSize="1000000000" />
                <binding name="PatientServiceSoap" maxReceivedMessageSize="1000000000" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://192.168.1.78/mono/PatientService.asmx"
                binding="basicHttpBinding" bindingConfiguration="PatientServiceSoap"
                contract="ServiceReference2.PatientServiceSoap" name="PatientServiceSoap" />
            <endpoint address="http://192.168.1.78/mono/ImageService.asmx"
                binding="basicHttpBinding" bindingConfiguration="ImageServiceSoap"
                contract="ServiceReference1.ImageServiceSoap" name="ImageServiceSoap" />
        </client>
    </system.serviceModel>
    <userSettings>
        <Clinic.Properties.Settings>
            <setting name="ip_addres_for_services" serializeAs="String">
                <value>192.168.1.78</value>
            </setting>
            <setting name="ip_addres_for_database" serializeAs="String">
                <value>192.168.1.78</value>
            </setting>
            <setting name="port_database" serializeAs="String">
                <value>5432</value>
            </setting>
            <setting name="port_services" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="ImageService" serializeAs="String">
                <value>/mono/ImageService.asmx</value>
            </setting>
            <setting name="PatientService" serializeAs="String">
                <value>/mono/PatientService.asmx</value>
            </setting>
        </Clinic.Properties.Settings>
    </userSettings>
</configuration>