<?xml version="1.0" encoding="utf-8"?>

<!-- Дополнительные сведения об использовании преобразования файлов web.config см. по адресу http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <connectionStrings>
    <add name="postgreSQL" connectionString="Host=127.0.0.1;Username=user2;Password=12345;Database=clinic_db" 
         xdt:Locator="Match(name)" xdt:Transform="Insert"/> 
  </connectionStrings>

  <appSettings>
    <add key="HomeDir" value="/home/user/Clinic/"
         xdt:Locator="Match(key)" xdt:Transform="Insert"/>
    <add key="PDFtemplatesDir" value="PDFtemplates/" 
         xdt:Locator="Match(key)" xdt:Transform="Insert"/>
    <add key="PatientsTalonsDir" value="Patients/" 
         xdt:Locator="Match(key)" xdt:Transform="Insert"/>
    <add key="CouponsDir" value="/coupons/"
         xdt:Locator="Match(key)" xdt:Transform="Insert"/>
  </appSettings>
  
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
  
</configuration>