<?xml version="1.0" encoding="utf-8"?>

<!-- Дополнительные сведения об использовании преобразования файлов web.config см. по адресу http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>

  <appSettings>
    <add xdt:Transform="RemoveAll" />
    <add key="ImagePath" value="/home/user/Clinic/Images/" xdt:Locator="Match(key)" xdt:Transform="Insert"/>
  </appSettings>
</configuration>