<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="PatientServiceSoap" maxReceivedMessageSize="1000000000"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:56426/PatientService.asmx"
        binding="basicHttpBinding" bindingConfiguration="PatientServiceSoap"
        contract="PatientServiceSoap.PatientServiceSoap" name="PatientServiceSoap" />
    </client>
  </system.serviceModel>

  <connectionStrings></connectionStrings>
</configuration>